#Palette{


    width:500px; height: 900px;
    float: right; background-color: red;border-left:2px solid ;
}
#EditorDiv{

    width:500px; height: 900px; 
    float: left; background-color: skyblue;
    border-right:2px solid ;
}
#ContainerDiv{
    
    width:1200px; height: 900px; background-color: yellow;
}
#Footer{
    
   
}
#Header{
    
   
}